{% extends "erreur.html" %}
{# Refus CSRF : presque toujours une page restée ouverte trop longtemps, ou #}
{# un formulaire renvoyé après une déconnexion. On le dit simplement.       #}
{% block titre %}Formulaire expiré{% endblock %}
{% block code %}403{% endblock %}
{% block titre_page %}Formulaire expiré{% endblock %}
{% block texte %}
<p>Le formulaire n'a pas pu être envoyé : la page était probablement restée
  ouverte trop longtemps, ou vous avez été déconnecté entre-temps.</p>
<p>Revenez en arrière, <b>rechargez la page</b>, puis recommencez.</p>
{% if no_cookie %}<p>Votre navigateur semble refuser les cookies de ce site :
  ils sont nécessaires pour se connecter.</p>{% endif %}
{% endblock %}
